.dialog-container {
  display: grid;
  height: 800px;
  width: 600px;
  align-items: center;
}

.text-header {
  text-align: center;
  margin-top: 50px;
}

form {
  display: grid;
  text-align: center;
}

label {
  border: 1px;
  display: inline-block;
  width: auto;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
}

input[type="text"] {
  border: solid 1px;
  color: var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  width: auto;
}

button {
  width: 100px;
  padding: 10px 10px 10px 10px;
}

button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.buttons {
  display: grid;
  row-gap: 14px;
  align-items: center;
}

.alert-danger {
  color: red;
}
