<h2 class="text-header">Add Product</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="applyForm" (submit)="submitProduct()">
    <label for="sku">Sku</label>
    <input id="sku" type="text" formControlName="sku" />
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="Name" />
    <label for="cost">Cost</label>
    <input id="cost" type="text" formControlName="cost" />
    <label for="price">Price</label>
    <input id="price" type="text" formControlName="price" />
    <label for="available-units">Available units</label>
    <input id="available-units" type="text" formControlName="available-units" />
  </form>
</mat-dialog-content>
<mat-dialog-actions class="buttons" align="center">
  <button type="submit" class="primary">Submit</button>
  <button class="primary" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
