header {
  display: flex;
  height: 60px;
  padding: 10px;
  background-color: var(--primary-color);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

a {
  display: grid;
  align-items: center;
  color: white;
  text-decoration: none;
}
